<header class="header" role="banner">
  <nav class="navbar navbar-default flex flex-justify-content">
    <div class="left">
      <ul>
        <li>
          <span class="icon">李彦龙的博客园</span>
        </li>
      </ul>
    </div>
    <ul class="right">
      <li>
        <a href="/">首页</a>
      </li>
      <li>
        <a href="/">原创</a>
      </li>
      <li>
        <a href="/">发现</a>
      </li>
    </ul>
  </nav>

</header>
